.componentParent{
  max-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#343434;
  border-radius: 10px;
  margin: 1rem auto;
  padding: 1rem;
}

.componentParent h1{
  color: #fff;
  margin-top: 0;
}

.componentParent__btn{
  display: block;
  width: 100%;
  max-width: 90%;
  padding: 10px;
  margin:0;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #4b4b4b;
  color: #fff;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.componentParent__btn:hover{
  background: #3a3a3a;
}

.mb-5{
  margin-bottom: 1rem;
}